body,
html {
  margin: 0;
  padding: 0;
  min-height: 100%;
  background: rgb(255, 255, 255);
  background-image: rgb(226, 204, 207);
  display: flex;
  flex-direction: column;
}

.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.navbar {
  background-image: url("http://content.kens5.com/photo/2017/10/22/vegetables_1508727313637_11456014_ver1.0.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-weight: bold;
  background-position: center;
  display: flex;
  height: 100px;
  width: auto;
  opacity: 0.85;
}

.rectangle {
  height: 55px !important;
  width: absolute;
  background-color: #D9D9D9;
}

.box {
  margin: auto;
  position: relative;
  width: 453px;
  height: 0px;
}

.btn-white {
  color: white;
  font-size: 1.8rem;
  margin-right: 10px;
}

.button-container {
  display: flex;
  gap: auto;
}

.search-bar {
  width: 500px;
  margin-top: -6px;
  margin-left: 300px;
}

.box .group {
  position: sticky;
  width: 1455px;
  height: 423px;
  top: 0;
  left: 0;
  display: flex;
}

.rectangle {
  width: auto;
  height: 30px;
}

.box .overlap-group {
  position: absolute;
  width: 1390px;
  height: 211px;
  top: 212px;
  left: 13px;
  display: flex;
}

.box .img {
  position: absolute;
  width: auto;
  height: 121px;
  top: 23px;
  flex: 0 0 auto;
  
}

.text-wrapper {
  position: absolute;
  top: 0;
  left: 50px;
  text-shadow: 2px 2px 4px #0c311d;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 70px;
  letter-spacing: 0;
  line-height: normal;
  flex: 1 1 auto;
}

.btn {
  display: flex;
  justify-content: right;
  align-items: right;
  text-align: right;
}

.box .div {
  position: absolute;
  width: 15px;
  height: 62px;
  top: 48px;
  left: 84px;
  background-color: #fd0606;
}

footer {
  background-color: black;
  padding: 10px;
  margin-top: auto;
  width: 100%;
  z-index: 999;
}
.footer-content {
  display: flex;
  align-items: center;
}

.vertical-bar {
  width: 10px;
  height: 80px;
  background-color: red;
  margin-right: 20px;
}

.footer-links {
  display: flex;
  flex-direction: column;
}

.button-container {
  position: absolute;
  top: 20;
  right: 0;
}

.button-container a {
  display: inline-block;
  margin-left: 20px;
}

.transparent-link {
  color: white;
  text-decoration: none;
  padding: 3px;
  transition: background-color 0.3s;
}

.transparent-link:hover,
.transparent-link:focus {
  background-color: lightblue;
  color: black;
}

.brand_logo {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border: 2px solid white;
}

.card {
  height: 300px;
  width: 300px;
}

.text-wrapper a {
  color: inherit;
  text-decoration: none;
}

.custom-img {
  object-fit: cover;
  height: 300px;
  width: 300px;
}

@media (max-width: 767.98px) {
  .row-cols-md-3 {
    column-count: 2;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .row-cols-md-3 {
    column-count: 3;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .row-cols-xl-4 {
    column-count: 3;
  }
}

@media (min-width: 1200px) {
  .row-cols-xl-4 {
    column-count: 4;
  }
}


.product-container {
  display: flex;
  align-items: center;
}

.product-image {
  flex: 0 0 auto;
  margin-left: 20px;
  margin-top: 80px;
}

.product-details {
  flex: 1 1 auto;
  margin-left: 30px;
}