body {
    margin-top: 20px;
    background-repeat: no-repeat;
    background-size: cover;
}
.main {
    padding: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
.profile-header {
    display: flex;
    align-items: center;
}

.profile-picture {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
}

.profile-info {
    margin-left: 20px;
}

.username {
    font-size: 24px;
    margin: 20;
}

.profile-bio {
    margin: 5px 0 0;
    color: #03030f;
}

.profile-stats {
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
}

.stat {
    text-align: left;
}

.stat-value {
    font-size: 18px;
    font-weight: bold;
}

.stat-label {
    font-size: 14px;
    color: black;
}

.card {
    border: 0px solid #0f444b;
    border-radius: 10px;
    padding: 20px;
    background-color: lightblue;
    width: 500px;
    height: 250px;
}

.card-body {
    padding: 5px;
}

.profile-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.favorites-btn,
.edit-profile-btn {
    padding: 10px 20px;
    background-color: #2e698b;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
}

@media (max-width: 600px) {
    .profile-header {
      flex-direction: column;
      align-items: flex-start;
    }

    .profile-picture {
      margin-bottom: 10px;
    }

    .profile-actions {
      flex-direction: row;
      align-items: flex-start;
    }

    .favorites-btn,
    .edit-profile-btn {
      width: 100%;
      margin-top: 10px;
    }
  }
footer {
    background-color: black;
    padding: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
  }

  .footer-content {
    display: flex;
    align-items: center;
  }

  .vertical-bar {
    width: 3px;
    height: 80px;
    background-color: red;
    margin-right: 10px;
  }

  .footer-links {
    display: flex;
    flex-direction: column;
  }

  .transparent-link {
    color: white;
    text-decoration: none;
    padding: 3px;
    transition: background-color 0.3s;
  }

  .transparent-link:hover,
  .transparent-link:focus {
    background-color: lightblue;
    color: black;
  }