{% extends 'base.html' %} {% block content %}
<style>
  body {
    margin-top: 20px;
    background-color: darkseagreen;
  }
  .main {
    padding: 15px;
    font-family: Arial, Helvetica, sans-serif;
  }
  .topbar {
    background-color: darkcyan;
    overflow: hidden;
  }
  .topbar a {
    float: right;
    color: whitesmoke;
    text-align: center;
    padding: 20px 26px;
    text-decoration: none;
    font-size: 26px;
  }
  .sidebar {
    background-color: lightslategray;
    color: white;
    height: 110%;
  }
  .sidebar a {
    margin-left: 10px;
    display: block;
    color: black;
    padding-bottom: 10px;
    font-size: 20px;
    text-decoration: none;
  }
  .card {
    position: relative;
    display: flex;
    flex-direction: column;
  }
  .content {
    background-color: whitesmoke;
  }
  .transparent-button {
    background-color: transparent;
    color: black;
    border: none;
  }
</style>
<link
  rel="stylesheet"
  type="text/css"
  href="bootstrap-4.5.3-dist/css/bootstrap.min.css"
/>
</head>
<body>
  <div class="container">
    <div class="main">
      <div class="topbar d-flex justify-content-end">
        <button type="button" class="btn btn-primary transparent-button">Save</button>
      </div>
    <div class="row">
      <div class="col-md-4 mt-1">
        <div class="card text-center sidebar">
          <div class="card-body">
            <img src="image.jpg" class="rounded-circle" style="width: 500px;" />
            <div class="mt-3">
              <h3>{{ existing_username }}</h3>
              <a href="">Username</a>
              <hr/>
              <a href="">Email</a>
              <hr/>
              <a href="">Phone number</a>
              <hr/>
              <a href="">Bio</a>
              <hr/>
              <a href="">Business status</a>
              <hr/>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-8 mt-1">
        <div class="card mb-3 content">
          <div class="row">
            <div class="col-md-9">
              <h5>Username</h5>
            </div>
            <div class="col-md-3">
              <input type="username" class="form-control" value="Arsema Yemiru">
            </div>
          </div>
          <hr />
          <div class="row">
            <div class="col-md-3">
              <h5>Email</h5>
            </div>
            <div class="col-md-9">
              <input type="email" class="form-control" value="arsemayemiru@gmail.com">
            </div>
          </div>
          <hr />
          <div class="row">
            <div class="col-md-3">
              <h5>Phone number</h5>
            </div>
            <div class="col-md-9">
              <input type="tel" class="form-control" value="+251 9********">
            </div>
          </div>
          <hr/>
        </div>
        <div class="card mb-3 content">
          <div class="col-md-3">
            <h5>Bio</h5>
          </div>
          <div class="col-md-9">
            <textarea class="form-control">Enter your bio here...</textarea>
          </div>
            <div class="row">
              <div class="col-md-3">
                <h5>Business status</h5>
              </div>
              <div class="col-md-9">
                <textarea class="form-control">Enter your business status here...</textarea>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
{% endblock %}
