{% extends 'base.html' %}

{% comment %} <link rel="stylesheet" href="/resources/demos/style.css">    {% endcomment %}
{% block content %} 
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<link rel="stylesheet" href="/resources/demos/style.css">
<link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
<script>
var availableTags = [];

$.ajax({
  method: "GET",
  url: "/product-list"
  success: function (response){
    console.log(response);
    availableTags = response;
  }
});



$( "#search" ).autocomplete({
source: availableTags
});
</script>
  <div class="search-bar">
  <div class="input-group">
    <input type="text" class="form-control" id="search" placeholder="Search Products" >
    <button class="input-group-text" id="basic-addon1"> <i class = "fa fa-search"></i></button>
    
  </div>
  </div>

    <section class="py-5">
      <div class="container px-4 px-lg-5 mt-5">
        <div
          class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center"
        >
          {% for category in categories %}
          <div class="col mb-5">
            <div class="card h-100">
              <a
                      href="{% url 'showproducts' category.slug %}"
                      class="text-dark text-decoration-none">
              <!-- Category image -->
              <img
                class="card-img-top custom-img"
                width="200px"
                height="200px"
                src="{{ category.image.url }}"
                alt="{{ category.name }}"
              />
            </a>
              <!-- Category details -->
              <div class="card-body p-4">
                <div class="text-center">
                  <!-- Category name -->
                  <h5 class="fw-bolder">
                    <a
                      href="{% url 'showproducts' category.slug %}"
                      class="text-dark text-decoration-none">
                      {{ category.name }}</a>
                  </h5>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </section>
    {% endblock %}
    <footer>
      <div class="footer-content">
        <div class="vertical-bar"></div>
        <a href="/FAQ" class="transparent-link">FAQ</a>
      </div>
    </footer>
  </body>
</html>
