{% extends 'base.html' %}
{% block content %}

     
<title>Products</title>


            <section class="py-5">
                <div class="container px-4 px-lg-5 mt-5">
                    <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                        {% for product in products %}
                            {% for image in product.product_image.all %}
                                {% if image.is_feature %}
                                    <div class="col mb-5">
                                        <div class="card h-100">
                                            <!-- Product image-->
                                            <img class="card-img-top custom-img" width="200px" height="200px" src="{{ image.image.url }}" alt="{{ image.image.alt_text }}" />
                                            <!-- Product details-->
                                            <div class="card-body p-4">
                                                <div class="text-center">
                                                    <!-- Product name-->
                                                    <h5 class="fw-bolder"><a href="{% url 'product_detail' slug=product.slug%}" class="text-dark text-decoration-none">{{ product.title}}</a></h5>
                                                    <!-- Product price-->
                                                    <p>BIRR {{ product.regular_price }}</p>
                                                    <p>Located at: {{ product.location }}</p>

                                                </div>
                                            </div>
                                            <style>
                                                .btn-favorites {
                                                  display: flex;
                                                  justify-content: center;
                                                  align-center:auto;
                                                }
                                              </style>
                                            <!-- Product actions-->
                                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                                <div class="text-center">
                                                    <a href="#" class="btn btn-primary btn-favorites">Add to Favorites</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    </div>
                </div>
            </section>
            <style>
                .custom-img {
                    width: 100%;
                    height: 100%;
                  }
            </style>
    </head>


{% endblock %}