{%  extends 'base.html' %}

{% block content %}

<head>

    {%load static%}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">    

    <h1>All Products</h1>

    <div class='row'>
        {% for product in products %}
           
        {% for image in product.product_image.all%}

            {% if image.is_feature %}

            <img class="img-fluid" src="{{ product.image_url }}" alt="{{image.alt_text}}">


            {% endif %}

        {% endfor %}
            <div class="card" class= 'row'style="width: 18rem;">
                <div class="card-body" >
                    <h5><a class="text-dark text-decoration-none"
                      href="{{ product.get_absolute_url }}">{{ product.title|slice:":50" }}...</a>
                    </h5>
                 <p class="card-text"><h7>Birr </h7>{{product.regular_price}}</p>
                  <a href="#" class="btn btn-primary">Add to Favorites</a>
               
                    </div>
            </div>
            {% endfor %}
        </div>
    </head>

{% endblock %}