<!DOCTYPE html>
<html>

{% extends 'base.html' %}
{% block content %}
<body>

    <div class="container min-vh-100 mt-5">
        <div class="d-flex justify-content-center h-100">
            <div class="user_card">
                <div class="d-flex justify-content-center">
                    
                </div>
                <div class="d-flex justify-content-center form_container">
                    <form action="{% url 'register' %}" method="POST">
                        {% csrf_token %}
                        <div class="input-group mb-3">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <input type = "text" name = "{{ form.username.name }}" placeholder="Username" class="form-control" required>
                        </div>
                        <div class="input-group mb-2">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                            </div>
                            <input type = "email" name = "{{ form.email.name }}" placeholder="E-mail" class="form-control" required>
                        </div>
                        <div class="input-group mb-2">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                            </div>
                            <input type = "password" name = "{{ form.password1.name }}" placeholder="Password" class="form-control" required>

                        </div>
                        <div class="input-group mb-2">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                            </div>
                            <input type = "password" name = "{{ form.password2.name }}" placeholder="Repeat Password" class="form-control" required>

                        </div>
                        <div class="form-group">
                            <div class="custom-control custom-checkbox">

                            </div>
                        </div>
                        <div>
                            {{ form.errors }}
                        </div>
                         <div class="mt-4">                 
                </div><div class="d-flex justify-content-center links">
                        Already have an account? <a href="/login" class="ml-2">Sign In</a>
                    </div>
                        <div class="d-flex justify-content-center mt-3 login_container">
                            <button type="submit" class="btn login_btn">Register</button>
                        </div>
                    </form>
                </div>
               
            </div>
        </div>
    </div>
    
</body>
  
{% endblock content %}

</html>